:root {
	--blue-main-color: #DBE5F1;
	--active-link: #0779C5;
	--primary-status-color: #ffe181;
	--success-status-color: #8ff19b;
	--danger-status-color: #ff5050;
	--deleted-status-color: #eee;
	--wait-status-color: #ff9b04;
	--label-color: #818c99;
	--border-color: #bfbfbf;
	--border-light-color: #eee;
}
